[Bb]in/
[Oo]bj/ 

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled resources
*.res

#################  
## Code::Blocks  
#################  

*.depend  
*.layout 

############  
## Windows  
############  

# Windows image file caches  
Thumbs.db  

# Folder config file  
Desktop.ini